@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

html.dark {
  --background: #111827;
  --foreground: #f9fafb;
}

@layer base {
  body {
    @apply bg-[var(--background)] text-[var(--foreground)];
  }
  * {
    @apply border-[var(--border)];
  }
}
